.containerTela {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  gap: 30px;
}

/* CSS - Saudação + Atividades recentes */

.acontainerAtv {
  width: 40%;
  height: 100%;
  
  padding: 20px;

  display: flex;
  flex-direction: column;


  background-color: var(--azul-intermediário);
  color: var(--branco);
  border-radius: 15px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.saudacao h2 {
  font-size: 1.8rem;

}

.saudacao .nome {
  font-weight: 300;
}

.saudacao p {
  font-size: 0.7rem;
}

/* CSS - Atividades recentes */

.atividadesRecentes {
  width: 100%;
  height: 100%;

  margin-top: 100px;

  display: flex;
  flex-direction: column;
}

.atividadesRecentes h2 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.atividadesRecentes .cardsContainer {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: fit-content;
  
  padding: 10px;
  margin: 10px 0;

  background-color: rgba(0, 105, 114, 0.5);
  border-radius: 5px;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.atividadesRecentes .card {
  display: flex;
  justify-content: space-between;

  align-items: center;

  width: 100%;
  height: 50px;
}

.atividadesRecentes .card .imgCard {
  width: 50px;
  height: 50px; 

  margin-right: 10px;
  border-radius: 50%;
}

.cardsContainer .cardContent {
  width: 100%;
  
  font-size: 0.6rem;
}

.cardsContainer .botaoAtv {
  align-self: flex-end;
  justify-content: center;

  width: 90px;
  height: fit-content;

  padding: 5px;

  font-size: 0.5rem;
  font-weight: 600;

  background-color: rgba(241, 219, 188, 1);
  color: var(--preto);
  border: none;
  border: 2px solid rgba(0, 105, 114, 1);

  border-radius: 5px;
  cursor: pointer;

}



/* CSS - Container direita + proximos eventos e sugestoes de livros */

.containersDireita {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 30px;
}

.proximosEventos,
.sugestoesLivros {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  

  background-color: var(--azul-intermediário);
  color: var(--branco);
  border-radius: 15px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


